.left-sidebar{
    width: 164px;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    transition: box-shadow ease-in-out 0.1s , transform ease-in-out 0.1s;
    transform: translateZ(0);
    box-sizing: border-box;
   
   
}

.side-nav{
    height: auto;
    max-width: 100%;
    position: sticky;
    margin:50px 0px;
    padding: 20px 0px;
    border-top: none;

}