.main-bar{
    width: calc(100% - 300px - 24px);
    float: left;
    margin: 25px 0px;
    padding: 0;

}
.main-bar-header{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.main-bar-header h1{
    font-weight: 400;
}

.main-bar-header .ask-btn{
    padding: 10px 15px;
    border-radius: 4px;
    background-color:  #009dff;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.main-bar-header .ask-btn:hover{
    background-color: #0086d8;
}

.display-question-container{
    min-height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #fdf7e2;
    border: solid 1px #edeff0;
}